openapi: 3.0.1
info:
  title: Welcome!
  description: "This is the Cycloid's API Reference. It provides descriptions, syntax,\
    \ and usage examples for each of the actions and data types available within our\
    \ console."
  termsOfService: https://console.cycloid.io/terms
  contact:
    name: The Great Owl
    url: https://www.cycloid.io
    email: contact@cycloid.io
  license:
    name: Cycloid @copyrights
    url: https://cycloid.io
  version: "0"
servers:
- url: https://http-api.cycloid.io/
security:
- api_key: []
tags:
- name: Cycloid
  description: Operation related to Cycloid's application.
- name: Organizations
  description: Operations for organizations.
- name: Organization teams
  description: Operations for teams which belong to an organization.
- name: Organization projects
  description: Operations for projects which belong to an organization.
- name: Organization members
  description: Operations for members of an organization.
- name: User
  description: Operations for the authenticated user.
- name: Organization pipelines
  description: Operations regarding pipelines in an organization.
- name: Organization pipelines jobs
  description: Operations on jobs belonging to a pipeline.
- name: Organization pipelines jobs build
  description: Operations on build of a job from a pipeline.
- name: Organization Infrastructure
  description: Operations on the infrastructure of an organization
- name: Organization Environments
  description: Operations to perform on an environment associated to a project of
    an organization.
- name: Organization Logs
  description: Operations on the logs of a project
- name: Organization Children
  description: Operations on the children of an organization
- name: Organization Infrastructure Policies
  description: Operations on the infrastructure policies of an organization
- name: Organization Subscriptions
  description: Operations on the subscriptions
- name: Cost Estimation
  description: Operations related to estimating cost of infrastructure.
- name: Organization kpis
  description: Operations on KPIs of an organization
paths:
  /appearance/{organization_canonical}:
    get:
      tags:
      - Appearance
      description: Get the active appearance available in the organization
      operationId: getActiveAppearance
      parameters:
      - name: organization_canonical
        in: path
        description: A canonical of an organization.
        required: true
        schema:
          $ref: '#/components/schemas/Canonical'
      responses:
        "200":
          description: Default Appearance available in the organization.
          content:
            application/json:
              schema:
                required:
                - data
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Appearance'
              example:
                data:
                  canonical: default
                  name: Default
                  display_name: Cycloid
                  tab_title: Cycloid
                  color:
                    r: 28
                    g: 151
                    b: 151
                  logo: https://console.cycloid.io/static/images/app-logo-square.svg
                  favicon: https://console.cycloid.io/static/favicons/favicon.ico
                  footer: ""
                  is_active: true
                  created_at: 1503225026
                  updated_at: 1503335026
        default:
          description: "The response sent when an unexpected error happened, as known\
            \ as an internal server error."
          headers:
            Content-Length:
              description: The length of the response body in octets (8-bit bytes).
              schema:
                type: integer
                format: uint64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
              example:
                errors:
                - message: Server Internal error
                  code: Unexpected
      security: []
  /appearance:
    get:
      tags:
      - Appearance
      description: Get the default appearance available in the platform
      operationId: getDefaultAppearance
      responses:
        "200":
          description: Default Appearance available in the platform.
          content:
            application/json:
              schema:
                required:
                - data
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Appearance'
              example:
                data:
                  canonical: default
                  name: Default
                  display_name: Cycloid
                  tab_title: Cycloid
                  color:
                    r: 28
                    g: 151
                    b: 151
                  logo: /static/logos/logo.svg
                  favicon: /static/favicons/favicon.ico
                  footer: ""
                  is_active: true
                  created_at: 1503225026
                  updated_at: 1503335026
        default:
          description: "The response sent when an unexpected error happened, as known\
            \ as an internal server error."
          headers:
            Content-Length:
              description: The length of the response body in octets (8-bit bytes).
              schema:
                type: integer
                format: uint64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
              example:
                errors:
                - message: Server Internal error
                  code: Unexpected
      security: []
  /organizations/{organization_canonical}/code_generation/terraform/jsontohcl:
    post:
      tags:
      - Code Generation
      description: Transforms a JSON to a HCL
      operationId: terraformJSONToHCL
      parameters:
      - name: organization_canonical
        in: path
        description: A canonical of an organization.
        required: true
        schema:
          $ref: '#/components/schemas/Canonical'
      requestBody:
        description: The Terraform JSON config
        content:
          application/vnd.cycloid.io.v1+json:
            schema:
              $ref: '#/components/schemas/TerraformJSONConfig'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TerraformJSONConfig'
        required: true
      responses:
        "200":
          description: The HCL translation of the config
          content:
            application/json:
              schema:
                required:
                - data
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TerraformHCLConfig'
              example:
                data:
                  config: " \"data\" \"aws_ami\" \"debian_jessie_latest\" { \"most_recent\"\
                    \ = true } \"locals\" = { \"codecommit_repository_name\" = \"\
                    something\" } \"output\" \"sensitive\" { \"sensitive\" = true\n\
                    \"value\" = \"VALUE\" } \"provider\" \"aws\" { \"access_key\"\
                    \ = \"${var.access_key}\" } \"resource\" \"aws_elb\" \"front\"\
                    \ { \"name\" = \"${var.project}-front-${var.env}\" \"tags\" =\
                    \ { \"name\" = \"some name\" } } \"variable\" \"front_disk_size\"\
                    \ { \"default\" = 60 } "
        "403":
          description: "The authenticated user cannot perform the operation because,\
            \ it doesn't have permissions for such operation."
          headers:
            Content-Length:
              description: The length of the response body in octets (8-bit bytes).
              schema:
                type: integer
                format: uint64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
              example:
                errors:
                - message: Not enough permissions to perform the operation
                  code: Unauthorized
        "422":
          description: All the custom errors that are generated from the Cycloid API
          headers:
            Content-Length:
              description: The length of the response body in octets (8-bit bytes).
              schema:
                type: integer
                format: uint64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
              example:
                errors:
                - message: some error
                  code: SomeCode
        default:
          description: "The response sent when an unexpected error happened, as known\
            \ as an internal server error."
          headers:
            Content-Length:
              description: The length of the response body in octets (8-bit bytes).
              schema:
                type: integer
                format: uint64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
              example:
                errors:
                - message: Server Internal error
                  code: Unexpected
      x-codegen-request-body-name: body
  /organizations/{organization_canonical}/code_generation/infra_import/providers/{provider_canonical}/presets:
    get:
      tags:
      - Code Generation
      description: List Infra Import Presets
      operationId: getInfraImportPresets
      parameters:
      - name: organization_canonical
        in: path
        description: A canonical of an organization.
        required: true
        schema:
          $ref: '#/components/schemas/Canonical'
      - name: provider_canonical
        in: path
        description: A canonical of a Provider
        required: true
        schema:
          minLength: 3
          pattern: "^[a-z0-9]+[a-z0-9\\-_]+[a-z0-9]+$"
          type: string
      responses:
        "200":
          description: The Infra Import Presets
          headers:
            Content-Length:
              description: The length of the response body in octets (8-bit bytes).
              schema:
                type: integer
                format: uint64
          content:
            application/json:
              schema:
                required:
                - data
                - pagination
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/InfraImportPreset'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
              example:
                data:
                - name: Preset1
                  resources:
                  - aws_route53_zone
                  - aws_security_group
        "403":
          description: "The authenticated user cannot perform the operation because,\
            \ it doesn't have permissions for such operation."
          headers:
            Content-Length:
              description: The length of the response body in octets (8-bit bytes).
              schema:
                type: integer
                format: uint64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
              example:
                errors:
                - message: Not enough permissions to perform the operation
                  code: Unauthorized
        "404":
          description: The response sent when any of the entities present in the path
            is not found.
          headers:
            Content-Length:
              description: The length of the response body in octets (8-bit bytes).
              schema:
                type: integer
                format: uint64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
              example:
                errors:
                - message: Entity not found
                  code: NotFoundEntity
        "422":
          description: All the custom errors that are generated from the Cycloid API
          headers:
            Content-Length:
              description: The length of the response body in octets (8-bit bytes).
              schema:
                type: integer
                format: uint64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
              example:
                errors:
                - message: some error
                  code: SomeCode
        default:
          description: "The response sent when an unexpected error happened, as known\
            \ as an internal server error."
          headers:
            Content-Length:
              description: The length of the response body in octets (8-bit bytes).
              schema:
                type: integer
                format: uint64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
              example:
                errors:
                - message: Server Internal error
                  code: Unexpected
  ? /organizations/{organization_canonical}/code_generation/infra_import/providers/{provider_canonical}/resources/{resource_canonical}
  : post:
      tags:
      - Code Generation
      description: List Provider's Resource
      operationId: getInfraImportResource
      parameters:
      - name: organization_canonical
        in: path
        description: A canonical of an organization.
        required: true
        schema:
          $ref: '#/components/schemas/Canonical'
      - name: provider_canonical
        in: path
        description: A canonical of a Provider
        required: true
        schema:
          minLength: 3
          pattern: "^[a-z0-9]+[a-z0-9\\-_]+[a-z0-9]+$"
          type: string
      - name: resource_canonical
        in: path
        description: A canonical of a Resource
        required: true
        schema:
          minLength: 3
          pattern: "^[a-z0-9]+[a-z0-9\\-_]+[a-z0-9]+$"
          type: string
      requestBody:
        description: Information for filtering and access the Cloud Provider's Resources.
        content:
          application/vnd.cycloid.io.v1+json:
            schema:
              $ref: '#/components/schemas/InfraImportResourceBody'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/InfraImportResourceBody'
        required: true
      responses:
        "200":
          description: The Infra Import's Resources
          headers:
            Content-Length:
              description: The length of the response body in octets (8-bit bytes).
              schema:
                type: integer
                format: uint64
          content:
            application/json:
              schema:
                required:
                - data
                - pagination
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/InfraImportResource'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
              example:
                data:
                - id: i-1234567890abcdef0
                - id: i-1234567890abcdef1
        "403":
          description: "The authenticated user cannot perform the operation because,\
            \ it doesn't have permissions for such operation."
          headers:
            Content-Length:
              description: The length of the response body in octets (8-bit bytes).
              schema:
                type: integer
                format: uint64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
              example:
                errors:
                - message: Not enough permissions to perform the operation
                  code: Unauthorized
        "404":
          description: The response sent when any of the entities present in the path
            is not found.
          headers:
            Content-Length:
              description: The length of the response body in octets (8-bit bytes).
              schema:
                type: integer
                format: uint64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
              example:
                errors:
                - message: Entity not found
                  code: NotFoundEntity
        "422":
          description: All the custom errors that are generated from the Cycloid API
          headers:
            Content-Length:
              description: The length of the response body in octets (8-bit bytes).
              schema:
                type: integer
                format: uint64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
              example:
                errors:
                - message: some error
                  code: SomeCode
        default:
          description: "The response sent when an unexpected error happened, as known\
            \ as an internal server error."
          headers:
            Content-Length:
              description: The length of the response body in octets (8-bit bytes).
              schema:
                type: integer
                format: uint64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
              example:
                errors:
                - message: Server Internal error
                  code: Unexpected
      x-codegen-request-body-name: body
  /organizations/{organization_canonical}/code_generation/infra_import/providers/{provider_canonical}/resources:
    post:
      tags:
      - Code Generation
      description: List infrastructure import provider's resources
      operationId: getInfraImportResources
      parameters:
      - name: organization_canonical
        in: path
        description: A canonical of an organization.
        required: true
        schema:
          $ref: '#/components/schemas/Canonical'
      - name: provider_canonical
        in: path
        description: A canonical of a Provider
        required: true
        schema:
          minLength: 3
          pattern: "^[a-z0-9]+[a-z0-9\\-_]+[a-z0-9]+$"
          type: string
      requestBody:
        description: Access information of the Cloud Provider's Resources.
        content:
          application/vnd.cycloid.io.v1+json:
            schema:
              $ref: '#/components/schemas/InfraImportResourcesBody'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/InfraImportResourcesBody'
        required: true
      responses:
        "200":
          description: The InfraImport's Resources Types
          headers:
            Content-Length:
              description: The length of the response body in octets (8-bit bytes).
              schema:
                type: integer
                format: uint64
          content:
            application/json:
              schema:
                required:
                - data
                - pagination
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TerraformProviderResourceSimple'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
              example:
                data:
                - canonical: aws_instance
                  image: http://via.placeholder.com/150x150
                  is_node: true
                  is_edge: false
                  category: SomeCategory
                  keywords: []
                  description: detailed resource description
                  short_description: resource description
                - canonical: aws_elb
                  image: http://via.placeholder.com/150x150
                  is_node: true
                  is_edge: false
                  category: SomeCategory
                  keywords: []
                  description: detailed resource description
                  short_description: resource description
        "403":
          description: "The authenticated user cannot perform the operation because,\
            \ it doesn't have permissions for such operation."
          headers:
            Content-Length:
              description: The length of the response body in octets (8-bit bytes).
              schema:
                type: integer
                format: uint64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
              example:
                errors:
                - message: Not enough permissions to perform the operation
                  code: Unauthorized
        "404":
          description: The response sent when any of the entities present in the path
            is not found.
          headers:
            Content-Length:
              description: The length of the response body in octets (8-bit bytes).
              schema:
                type: integer
                format: uint64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
              example:
                errors:
                - message: Entity not found
                  code: NotFoundEntity
        "422":
          description: All the custom errors that are generated from the Cycloid API
          headers:
            Content-Length:
              description: The length of the response body in octets (8-bit bytes).
              schema:
                type: integer
                format: uint64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
              example:
                errors:
                - message: some error
                  code: SomeCode
        default:
          description: "The response sent when an unexpected error happened, as known\
            \ as an internal server error."
          headers:
            Content-Length:
              description: The length of the response body in octets (8-bit bytes).
              schema:
                type: integer
                format: uint64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
              example:
                errors:
                - message: Server Internal error
                  code: Unexpected
      x-codegen-request-body-name: body
  /organizations/{organization_canonical}/code_generation/terraform/providers:
    get:
      tags:
      - Code Generation
      description: Return all the Providers
      operationId: getTerraformProviders
      parameters:
      - name: organization_canonical
        in: path
        description: A canonical of an organization.
        required: true
        schema:
          $ref: '#/components/schemas/Canonical'
      - name: page_index
        in: query
        description: The page number to request. The first page is 1.
        schema:
          type: integer
          format: uint32
          default: 1
      - name: page_size
        in: query
        description: The number of items at most which the response can have.
        schema:
          type: integer
          format: uint32
          default: 1000
      responses:
        "200":
          description: List of the Providers
          content:
            application/json:
              schema:
                required:
                - data
                - pagination
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TerraformProviderSimple'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
              example:
                data:
                - name: Amazon Web Service
                  canonical: aws
                  abbreviation: AWS
                  cloud: true
                  image: http://via.placeholder.com/150x150
                - name: Terraform Template
                  canonical: template
                  abbreviation: Template
                  cloud: false
                  image: http://via.placeholder.com/150x150
                pagination:
                  index: 1
                  size: 10
                  total: 2
        "403":
          description: "The authenticated user cannot perform the operation because,\
            \ it doesn't have permissions for such operation."
          headers:
            Content-Length:
              description: The length of the response body in octets (8-bit bytes).
              schema:
                type: integer
                format: uint64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
              example:
                errors:
                - message: Not enough permissions to perform the operation
                  code: Unauthorized
        "422":
          description: All the custom errors that are generated from the Cycloid API
          headers:
            Content-Length:
              description: The length of the response body in octets (8-bit bytes).
              schema:
                type: integer
                format: uint64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
              example:
                errors:
                - message: some error
                  code: SomeCode
        default:
          description: "The response sent when an unexpected error happened, as known\
            \ as an internal server error."
          headers:
            Content-Length:
              description: The length of the response body in octets (8-bit bytes).
              schema:
                type: integer
                format: uint64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
              example:
                errors:
                - message: Server Internal error
                  code: Unexpected
  /organizations/{organization_canonical}/code_generation/terraform/providers/{provider_canonical}/data_sources:
    get:
      tags:
      - Code Generation
      description: Return all the DataSources for the Provider
      operationId: getTerraformProviderDataSources
      parameters:
      - name: organization_canonical
        in: path
        description: A canonical of an organization.
        required: true
        schema:
          $ref: '#/components/schemas/Canonical'
      - name: provider_canonical
        in: path
        description: A canonical of a Provider
        required: true
        schema:
          minLength: 3
          pattern: "^[a-z0-9]+[a-z0-9\\-_]+[a-z0-9]+$"
          type: string
      - name: page_index
        in: query
        description: The page number to request. The first page is 1.
        schema:
          type: integer
          format: uint32
          default: 1
      - name: page_size
        in: query
        description: The number of items at most which the response can have.
        schema:
          type: integer
          format: uint32
          default: 1000
      responses:
        "200":
          description: List of the DataSources
          content:
            application/json:
              schema:
                required:
                - data
                - pagination
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TerraformProviderResourceSimple'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
              example:
                data:
                - canonical: aws_instance
                  image: http://via.placeholder.com/150x150
                  is_node: true
                  is_edge: false
                  category: SomeCategory
                  keywords: []
                  description: detailed resource description
                  short_description: resource description
                - canonical: aws_elb
                  image: http://via.placeholder.com/150x150
                  is_node: true
                  is_edge: false
                  category: SomeCategory
                  keywords: []
                  description: detailed resource description
                  short_description: resource description
                pagination:
                  index: 1
                  size: 10
                  total: 2
        "403":
          description: "The authenticated user cannot perform the operation because,\
            \ it doesn't have permissions for such operation."
          headers:
            Content-Length:
              description: The length of the response body in octets (8-bit bytes).
              schema:
                type: integer
                format: uint64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
              example:
                errors:
                - message: Not enough permissions to perform the operation
                  code: Unauthorized
        "422":
          description: All the custom errors that are generated from the Cycloid API
          headers:
            Content-Length:
              description: The length of the response body in octets (8-bit bytes).
              schema:
                type: integer
                format: uint64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
              example:
                errors:
                - message: some error
                  code: SomeCode
        default:
          description: "The response sent when an unexpected error happened, as known\
            \ as an internal server error."
          headers:
            Content-Length:
              description: The length of the response body in octets (8-bit bytes).
              schema:
                type: integer
                format: uint64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
              example:
                errors:
                - message: Server Internal error
                  code: Unexpected
  ? /organizations/{organization_canonical}/code_generation/terraform/providers/{provider_canonical}/data_sources/{resource_canonical}
  : get:
      tags:
      - Code Generation
      description: Get the information of the DataSource
      operationId: getTerraformProviderDataSource
      parameters:
      - name: organization_canonical
        in: path
        description: A canonical of an organization.
        required: true
        schema:
          $ref: '#/components/schemas/Canonical'
      - name: provider_canonical
        in: path
        description: A canonical of a Provider
        required: true
        schema:
          minLength: 3
          pattern: "^[a-z0-9]+[a-z0-9\\-_]+[a-z0-9]+$"
          type: string
      - name: resource_canonical
        in: path
        description: A canonical of a Resource
        required: true
        schema:
          minLength: 3
          pattern: "^[a-z0-9]+[a-z0-9\\-_]+[a-z0-9]+$"
          type: string
      responses:
        "200":
          description: The information of the DataSource
          content:
            application/json:
              schema:
                required:
                - data
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TerraformProviderResource'
              example:
                data:
                  canonical: aws_lb
                  is_node: true
                  is_edge: false
                  image: http://via.placeholder.com/150x150
                  schema:
                    dns_name:
                      required: false
                      optional: false
                      type: TypeString
                      default: ""
                    internal:
                      required: false
                      optional: true
                      type: TypeBool
                      default: "null"
                  category: SomeCategory
                  keywords: []
                  description: detailed resource description
                  short_description: resource description
        "403":
          description: "The authenticated user cannot perform the operation because,\
            \ it doesn't have permissions for such operation."
          headers:
            Content-Length:
              description: The length of the response body in octets (8-bit bytes).
              schema:
                type: integer
                format: uint64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
              example:
                errors:
                - message: Not enough permissions to perform the operation
                  code: Unauthorized
        "404":
          description: The response sent when any of the entities present in the path
            is not found.
          headers:
            Content-Length:
              description: The length of the response body in octets (8-bit bytes).
              schema:
                type: integer
                format: uint64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
              example:
                errors:
                - message: Entity not found
                  code: NotFoundEntity
        default:
          description: "The response sent when an unexpected error happened, as known\
            \ as an internal server error."
          headers:
            Content-Length:
              description: The length of the response body in octets (8-bit bytes).
              schema:
                type: integer
                format: uint64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
              example:
                errors:
                - message: Server Internal error
                  code: Unexpected
  /organizations/{organization_canonical}/code_generation/terraform/providers/{provider_canonical}:
    get:
      tags:
      - Code Generation
      description: Get the information of the Provider
      operationId: getTerraformProvider
      parameters:
      - name: organization_canonical
        in: path
        description: A canonical of an organization.
        required: true
        schema:
          $ref: '#/components/schemas/Canonical'
      - name: provider_canonical
        in: path
        description: A canonical of a Provider
        required: true
        schema:
          minLength: 3
          pattern: "^[a-z0-9]+[a-z0-9\\-_]+[a-z0-9]+$"
          type: string
      responses:
        "200":
          description: The information of the Provider
          content:
            application/json:
              schema:
                required:
                - data
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TerraformProvider'
              example:
                data:
                  name: Amazon Web Service
                  canonical: aws
                  abbreviation: AWS
                  image: http://via.placeholder.com/150x150
                  cloud: true
                  schema:
                    access_key:
                      required: false
                      optional: true
                      type: TypeString
                      default: ""
                    secret_key:
                      required: false
                      optional: true
                      type: TypeString
                      default: ""
        "403":
          description: "The authenticated user cannot perform the operation because,\
            \ it doesn't have permissions for such operation."
          headers:
            Content-Length:
              description: The length of the response body in octets (8-bit bytes).
              schema:
                type: integer
                format: uint64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
              example:
                errors:
                - message: Not enough permissions to perform the operation
                  code: Unauthorized
        "404":
          description: The response sent when any of the entities present in the path
            is not found.
          headers:
            Content-Length:
              description: The length of the response body in octets (8-bit bytes).
              schema:
                type: integer
                format: uint64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
              example:
                errors:
                - message: Entity not found
                  code: NotFoundEntity
        default:
          description: "The response sent when an unexpected error happened, as known\
            \ as an internal server error."
          headers:
            Content-Length:
              description: The length of the response body in octets (8-bit bytes).
              schema:
                type: integer
                format: uint64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
              example:
                errors:
                - message: Server Internal error
                  code: Unexpected
  /organizations/{organization_canonical}/code_generation/terraform/providers/{provider_canonical}/resources:
    get:
      tags:
      - Code Generation
      description: Return all the Resources for the Provider
      operationId: getTerraformProviderResources
      parameters:
      - name: organization_canonical
        in: path
        description: A canonical of an organization.
        required: true
        schema:
          $ref: '#/components/schemas/Canonical'
      - name: provider_canonical
        in: path
        description: A canonical of a Provider
        required: true
        schema:
          minLength: 3
          pattern: "^[a-z0-9]+[a-z0-9\\-_]+[a-z0-9]+$"
          type: string
      - name: page_index
        in: query
        description: The page number to request. The first page is 1.
        schema:
          type: integer
          format: uint32
          default: 1
      - name: page_size
        in: query
        description: The number of items at most which the response can have.
        schema:
          type: integer
          format: uint32
          default: 1000
      responses:
        "200":
          description: List of the Resources
          content:
            application/json:
              schema:
                required:
                - data
                - pagination
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TerraformProviderResourceSimple'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
              example:
                data:
                - canonical: aws_instance
                  image: http://via.placeholder.com/150x150
                  is_node: true
                  is_edge: false
                  category: SomeCategory
                  keywords: []
                  description: detailed resource description
                  short_description: resource description
                - canonical: aws_elb
                  image: http://via.placeholder.com/150x150
                  is_node: true
                  is_edge: false
                  category: SomeCategory
                  keywords: []
                  description: detailed resource description
                  short_description: resource description
                pagination:
                  index: 1
                  size: 10
                  total: 2
        "403":
          description: "The authenticated user cannot perform the operation because,\
            \ it doesn't have permissions for such operation."
          headers:
            Content-Length:
              description: The length of the response body in octets (8-bit bytes).
              schema:
                type: integer
                format: uint64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
              example:
                errors:
                - message: Not enough permissions to perform the operation
                  code: Unauthorized
        "422":
          description: All the custom errors that are generated from the Cycloid API
          headers:
            Content-Length:
              description: The length of the response body in octets (8-bit bytes).
              schema:
                type: integer
                format: uint64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
              example:
                errors:
                - message: some error
                  code: SomeCode
        default:
          description: "The response sent when an unexpected error happened, as known\
            \ as an internal server error."
          headers:
            Content-Length:
              description: The length of the response body in octets (8-bit bytes).
              schema:
                type: integer
                format: uint64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
              example:
                errors:
                - message: Server Internal error
                  code: Unexpected
  /organizations/{organization_canonical}/code_generation/terraform/providers/{provider_canonical}/resources/{resource_canonical}:
    get:
      tags:
      - Code Generation
      description: Get the information of the Resource
      operationId: getTerraformProviderResource
      parameters:
      - name: organization_canonical
        in: path
        description: A canonical of an organization.
        required: true
        schema:
          $ref: '#/components/schemas/Canonical'
      - name: provider_canonical
        in: path
        description: A canonical of a Provider
        required: true
        schema:
          minLength: 3
          pattern: "^[a-z0-9]+[a-z0-9\\-_]+[a-z0-9]+$"
          type: string
      - name: resource_canonical
        in: path
        description: A canonical of a Resource
        required: true
        schema:
          minLength: 3
          pattern: "^[a-z0-9]+[a-z0-9\\-_]+[a-z0-9]+$"
          type: string
      responses:
        "200":
          description: The information of the Resource
          content:
            application/json:
              schema:
                required:
                - data
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TerraformProviderResource'
              example:
                data:
                  canonical: aws_lb
                  is_node: true
                  is_edge: false
                  image: http://via.placeholder.com/150x150
                  attributes:
                    important:
                    - count
                    status: status
                    normalized_status:
                      "on": running
                  schema:
                    dns_name:
                      required: false
                      optional: false
                      type: TypeString
                      default: ""
                    internal:
                      required: false
                      optional: true
                      type: TypeBool
                      default: "null"
                  category: SomeCategory
                  keywords: []
                  description: detailed resource description
                  short_description: resource description
        "403":
          description: "The authenticated user cannot perform the operation because,\
            \ it doesn't have permissions for such operation."
          headers:
            Content-Length:
              description: The length of the response body in octets (8-bit bytes).
              schema:
                type: integer
                format: uint64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
              example:
                errors:
                - message: Not enough permissions to perform the operation
                  code: Unauthorized
        "404":
          description: The response sent when any of the entities present in the path
            is not found.
          headers:
            Content-Length:
              description: The length of the response body in octets (8-bit bytes).
              schema:
                type: integer
                format: uint64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
              example:
                errors:
                - message: Entity not found
                  code: NotFoundEntity
        default:
          description: "The response sent when an unexpected error happened, as known\
            \ as an internal server error."
          headers:
            Content-Length:
              description: The length of the response body in octets (8-bit bytes).
              schema:
                type: integer
                format: uint64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
              example:
                errors:
                - message: Server Internal error
                  code: Unexpected
  /organizations/{organization_canonical}/code_generation/terraform/validate:
    post:
      tags:
      - Code Generation
      description: Validates a TF configuration
      operationId: terraformValidate
      parameters:
      - name: organization_canonical
        in: path
        description: A canonical of an organization.
        required: true
        schema:
          $ref: '#/components/schemas/Canonical'
      requestBody:
        description: The Terraform JSON config
        content:
          application/vnd.cycloid.io.v1+json:
            schema:
              $ref: '#/components/schemas/TerraformJSONConfig'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TerraformJSONConfig'
        required: true
      responses:
        "200":
          description: The result of validating the provided configuration
          content:
            application/json:
              schema:
                required:
                - data
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TerraformValidationResult'
              example:
                data:
                  errors:
                  - "resource 'aws_elb.front' config: unknown variable referenced:\
                    \ 'name'; define it with a 'variable' block"
        "403":
          description: "The authenticated user cannot perform the operation because,\
            \ it doesn't have permissions for such operation."
          headers:
            Content-Length:
              description: The length of the response body in octets (8-bit bytes).
              schema:
                type: integer
                format: uint64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
              example:
                errors:
                - message: Not enough permissions to perform the operation
                  code: Unauthorized
        "422":
          description: All the custom errors that are generated from the Cycloid API
          headers:
            Content-Length:
              description: The length of the response body in octets (8-bit bytes).
              schema:
                type: integer
                format: uint64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
              example:
                errors:
                - message: some error
                  code: SomeCode
        default:
          description: "The response sent when an unexpected error happened, as known\
            \ as an internal server error."
          headers:
            Content-Length:
              description: The length of the response body in octets (8-bit bytes).
              schema:
                type: integer
                format: uint64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
              example:
                errors:
                - message: Server Internal error
                  code: Unexpected
      x-codegen-request-body-name: body
  /config:
    get:
      tags:
      - Cycloid
      description: Get the Cycloid configuration.
      operationId: getConfig
      responses:
        "200":
          description: "Cycloid configuration, including available authentication\
            \ methods."
          content:
            application/json:
              schema:
                required:
                - data
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/AppConfig'
              example:
                data:
                  authentication:
                    local:
                      enabled: true
                    oauth:
                    - provider: azuread
                      tenant_id: 67b96869-421d-4897-9f95-dc66aacbe915
                      client_id: 67b96869-421d-4897-9f95-dc66aacbe915
                      type: AzureADAuthConfig
                    - provider: google
                      client_id: 741192805913-s10ibou8065iofnb9rcir9269skiqts9.apps.googleusercontent.com
                      type: GoogleOAuthConfig
                    - provider: github
                      host_address: https://api.github.com
                      client_id: 6a94210b44f4a612952e
                      type: GitHubOAuthConfig
                    saml2:
                    - provider: https://samltest.id/saml/idp
                      sso_url: https://samltest.id/idp/profile/SAML2/Redirect/SSO?SAMLRequest=fJLPbtswDIdfReDdkeV0aU3UAbwGwwJ...
        "422":
          description: All the custom errors that are generated from the Cycloid API
          headers:
            Content-Length:
              description: The length of the response body in octets (8-bit bytes).
              schema:
                type: integer
                format: uint64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
              example:
                errors:
                - message: some error
                  code: SomeCode
        default:
          description: "The response sent when an unexpected error happened, as known\
            \ as an internal server error."
          headers:
            Content-Length:
              description: The length of the response body in octets (8-bit bytes).
              schema:
                type: integer
                format: uint64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
              example:
                errors:
                - message: Server Internal error
                  code: Unexpected
      security: []
  /countries:
    get:
      tags:
      - Cycloid
      description: Get the Cycloid supported countries.
      operationId: getCountries
      responses:
        "200":
          description: Cycloid supported countries
          content:
            application/json:
              schema:
                required:
                - data
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Country'
              example:
                data:
                - code: AD
                  name: Andorra
                - code: FR
                  name: France
                - code: GB
                  name: United Kingdom
        default:
          description: "The response sent when an unexpected error happened, as known\
            \ as an internal server error."
          headers:
            Content-Length:
              description: The length of the response body in octets (8-bit bytes).
              schema:
                type: integer
                format: uint64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
              example:
                errors:
                - message: Server Internal error
                  code: Unexpected
      security: []
  /status:
    get:
      tags:
      - Cycloid
      description: Get the status of the Cycloid's services.
      operationId: getStatus
      responses:
        "200":
          description: General application status and services statuses.
          content:
            application/json:
              schema:
                required:
                - data
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/GeneralStatus'
              example:
                data:
                  status: Error
                  message: "some services returned an unknown state (s1), while some\
                    \ other returned errors (s2, s3)"
                  checks:
                  - canonical: s0
                    category: internal
                    status: Success
                    message: no issue reported while connecting to s0
                  - canonical: s1
                    category: internal
                    status: Unknown
                    message: unknown state for s1 service
                  - canonical: s2
                    category: internal
                    status: Error
                    message: issue detected while connecting to s2
                  - canonical: s3
                    category: internal
                    status: Success
                    message: issue detected while connecting to s3
        "422":
          description: All the custom errors that are generated from the Cycloid API
          headers:
            Content-Length:
              description: The length of the response body in octets (8-bit bytes).
              schema:
                type: integer
                format: uint64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
              example:
                errors:
                - message: some error
                  code: SomeCode
        default:
          description: "The response sent when an unexpected error happened, as known\
            \ as an internal server error."
          headers:
            Content-Length:
              description: The length of the response body in octets (8-bit bytes).
              schema:
                type: integer
                format: uint64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
              example:
                errors:
                - message: Server Internal error
                  code: Unexpected
      security: []
  /status/{service_status_canonical}:
    get:
      tags:
      - Cycloid
      description: Get the status of the Cycloid's service. It uses 200 and 500 to
        also identify the status
      operationId: getServiceStatus
      parameters:
      - name: service_status_canonical
        in: path
        description: The canonical of the service you want to get the status from
        required: true
        schema:
          $ref: '#/components/schemas/Canonical'
      responses:
        "200":
          description: General application status and services statuses.
          content:
            application/json:
              schema:
                required:
                - data
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CheckReport'
              example:
                data:
                  canonical: s0
                  category: internal
                  status: Success
                  message: no issue reported while connecting to s0
        "500":
          description: "The response sent when an unexpected error happened, as known\
            \ as an internal server error."
          headers:
            Content-Length:
              description: The length of the response body in octets (8-bit bytes).
              schema:
                type: integer
                format: uint64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
              example:
                errors:
                - message: Server Internal error
                  code: Unexpected
      security: []
  /version:
    get:
      tags:
      - Cycloid
      description: Get the version of the Cycloid's API.
      operationId: getAppVersion
      responses:
        "200":
          description: Application version.
          content:
            application/json:
              schema:
                required:
                - data
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/AppVersion'
              example:
                data:
                  version: 1.0.0
                  branch: master
                  revision: 9d3d4d97
        "422":
          description: All the custom errors that are generated from the Cycloid API
          headers:
            Content-Length:
              description: The length of the response body in octets (8-bit bytes).
              schema:
                type: integer
                format: uint64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
              example:
                errors:
                - message: some error
                  code: SomeCode
        default:
          description: "The response sent when an unexpected error happened, as known\
            \ as an internal server error."
          headers:
            Content-Length:
              description: The length of the response body in octets (8-bit bytes).
              schema:
                type: integer
                format: uint64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
              example:
                errors:
                - message: Server Internal error
                  code: Unexpected
      security: []
  /organizations/{organization_canonical}/api_keys:
    get:
      tags:
      - Organization API keys
      description: Get list of API keys of the organization.
      operationId: getAPIKeys
      parameters:
      - name: organization_canonical
        in: path
        description: A canonical of an organization.
        required: true
        schema:
          $ref: '#/components/schemas/Canonical'
      - name: page_index
        in: query
        description: The page number to request. The first page is 1.
        schema:
          type: integer
          format: uint32
          default: 1
      - name: page_size
        in: query
        description: The number of items at most which the response can have.
        schema:
          type: integer
          format: uint32
          default: 1000
      - name: user_id
        in: query
        description: Search by entity's owner
        schema:
          type: integer
          format: uint32
      responses:
        "200":
          description: List of the API keys which the organization has.
          content:
            application/json:
              schema:
                required:
                - data
                - pagination
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/APIKey'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
              example:
                data:
                - canonical: ak-1
                  name: AK 1
                  description: this is ak-1
                  role:
                    id: 5
                    name: Organization API key
                    description: Role for API key
                    policies: []
                  token: jwt...
                  id: 5
                  owner:
                    username: user-2
                    id: 10
                    given_name: Mariana
                    family_name: Jimenezo
                    email: mariana.jimenezo@fakeemail.com
                    picture_url: https://avatars2.githubusercontent.com/u/14579210
                    created_at: 1503225026
                    role:
                      id: 42
                      name: standard role
                      description: this is the standard role
                      canonical: role-can
                      rules:
                      - id: 1
                        effect: allow
                        action: organization:delete
                        resources:
                        - organization:org-can
                        - organization:org-can2
                      - id: 20
                        effect: allow
                        action: organization:team:create
                        resources: []
                      - id: 21
                        effect: allow
                        action: organization:team:read
                        resources:
                        - organization:org-can:team:team-can
                - canonical: ak-2
                  name: AK 2
                  description: this is ak-2
                  role:
                    id: 5
                    name: Organization API key
                    description: Role for API key
                    policies: []
                  token: jwt...
                  id: 5
                  owner:
                    username: user-3
                    id: 2
                    given_name: Jorge
                    family_name: Hombre
                    email: jorge.hombre@test.com
                    picture_url: https://avatars2.githubusercontent.com/u/14579203
                    created_at: 1503225001
                    role:
                      id: 42
                      name: standard role
                      description: this is the standard role
                      canonical: role-can
                      rules:
                      - id: 1
                        effect: allow
                        action: organization:delete
                        resources:
                        - organization:org-can
                        - organization:org-can2
                      - id: 20
                        effect: allow
                        action: organization:team:create
                        resources: []
                      - id: 21
                        effect: allow
                        action: organization:team:read
                        resources:
                        - organization:org-can:team:team-can
        "403":
          description: "The authenticated user cannot perform the operation because,\
            \ it doesn't have permissions for such operation."
          headers:
            Content-Length:
              description: The length of the response body in octets (8-bit bytes).
              schema:
                type: integer
                format: uint64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
              example:
                errors:
                - message: Not enough permissions to perform the operation
                  code: Unauthorized
        "404":
          description: The response sent when any of the entities present in the path
            is not found.
          headers:
            Content-Length:
              description: The length of the response body in octets (8-bit bytes).
              schema:
                type: integer
                format: uint64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
              example:
                errors:
                - message: Entity not found
                  code: NotFoundEntity
        "422":
          description: All the custom errors that are generated from the Cycloid API
          headers:
            Content-Length:
              description: The length of the response body in octets (8-bit bytes).
              schema:
                type: integer
                format: uint64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
              example:
                errors:
                - message: some error
                  code: SomeCode
        default:
          description: "The response sent when an unexpected error happened, as known\
            \ as an internal server error."
          headers:
            Content-Length:
              description: The length of the response body in octets (8-bit bytes).
              schema:
                type: integer
                format: uint64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
              example:
                errors:
                - message: Server Internal error
                  code: Unexpected
    post:
      tags:
      - Organization API keys
      description: Create a new API key in the organization.
      operationId: createAPIKey
      parameters:
      - name: organization_canonical
        in: path
        description: A canonical of an organization.
        required: true
        schema:
          $ref: '#/components/schemas/Canonical'
      requestBody:
        description: The information of the API key to create.
        content:
          application/vnd.cycloid.io.v1+json:
            schema:
              $ref: '#/components/schemas/NewAPIKey'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/NewAPIKey'
        required: true
      responses:
        "200":
          description: API key created. The body contains the information of the new
            API key of the organization.
          content:
            application/json:
              schema:
                required:
                - data
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/APIKey'
              example:
                data:
                  canonical: ak-1
                  name: AK 1
                  description: this is ak-1
                  role:
                    id: 5
                    name: Organization API key
                    description: Role for API key
                    policies: []
                  token: jwt...
                  id: 5
                  owner:
                    username: user-2
                    id: 10
                    given_name: Mariana
                    family_name: Jimenezo
                    email: mariana.jimenezo@fakeemail.com
                    picture_url: https://avatars2.githubusercontent.com/u/14579210
                    created_at: 1503225026
                    role:
                      id: 42
                      name: standard role
                      description: this is the standard role
                      canonical: role-can
                      rules:
                      - id: 1
                        effect: allow
                        action: organization:delete
                        resources:
                        - organization:org-can
                        - organization:org-can2
                      - id: 20
                        effect: allow
                        action: organization:team:create
                        resources: []
                      - id: 21
                        effect: allow
                        action: organization:team:read
                        resources:
                        - organization:org-can:team:team-can
        "404":
          description: The response sent when any of the entities present in the path
            is not found.
          headers:
            Content-Length:
              description: The length of the response body in octets (8-bit bytes).
              schema:
                type: integer
                format: uint64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
              example:
                errors:
                - message: Entity not found
                  code: NotFoundEntity
        "411":
          description: The request has a body but it doesn't have a Content-Length
            header.
          content: {}
        "422":
          description: All the custom errors that are generated from the Cycloid API
          headers:
            Content-Length:
              description: The length of the response body in octets (8-bit bytes).
              schema:
                type: integer
                format: uint64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
              example:
                errors:
                - message: some error
                  code: SomeCode
        default:
          description: "The response sent when an unexpected error happened, as known\
            \ as an internal server error."
          headers:
            Content-Length:
              description: The length of the response body in octets (8-bit bytes).
              schema:
                type: integer
                format: uint64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
              example:
                errors:
                - message: Server Internal error
                  code: Unexpected
      x-codegen-request-body-name: body
  /organizations/{organization_canonical}/api_keys/{api_key_canonical}:
    get:
      tags:
      - Organization API keys
      description: Get an API key of the organization.
      operationId: getAPIKey
      parameters:
      - name: organization_canonical
        in: path
        description: A canonical of an organization.
        required: true
        schema:
          $ref: '#/components/schemas/Canonical'
      - name: api_key_canonical
        in: path
        description: A canonical of an API key.
        required: true
        schema:
          $ref: '#/components/schemas/Canonical'
      responses:
        "200":
          description: The information of the API key of the organization which has
            the specified canonical.
          content:
            application/json:
              schema:
                required:
                - data
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/APIKey'
              example:
                data:
                  canonical: ak-1
                  name: AK 1
                  description: this is ak-1
                  rules:
                  - id: 1
                    effect: allow
                    action: organization:delete
                    resources:
                    - organization:org-can
                    - organization:org-can2
                  - id: 20
                    effect: allow
                    action: organization:team:create
                    resources: []
                  - id: 21
                    effect: allow
                    action: organization:team:read
                    resources:
                    - organization:org-can:team:team-can
                  token: jwt...
                  id: 5
                  owner:
                    username: user-2
                    id: 10
                    given_name: Mariana
                    family_name: Jimenezo
                    email: mariana.jimenezo@fakeemail.com
                    picture_url: https://avatars2.githubusercontent.com/u/14579210
                    created_at: 1503225026
                    role:
                      id: 42
                      name: standard role
                      description: this is the standard role
                      canonical: role-can
                      rules:
                      - id: 1
                        effect: allow
                        action: organization:delete
                        resources:
                        - organization:org-can
                        - organization:org-can2
                      - id: 20
                        effect: allow
                        action: organization:team:create
                        resources: []
                      - id: 21
                        effect: allow
                        action: organization:team:read
                        resources:
                        - organization:org-can:team:team-can
        "403":
          description: "The authenticated user cannot perform the operation because,\
            \ it doesn't have permissions for such operation."
          headers:
            Content-Length:
              description: The length of the response body in octets (8-bit bytes).
              schema:
                type: integer
                format: uint64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
              example:
                errors:
                - message: Not enough permissions to perform the operation
                  code: Unauthorized
        "404":
          description: The response sent when any of the entities present in the path
            is not found.
          headers:
            Content-Length:
              description: The length of the response body in octets (8-bit bytes).
              schema:
                type: integer
                format: uint64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
              example:
                errors:
                - message: Entity not found
                  code: NotFoundEntity
        default:
          description: "The response sent when an unexpected error happened, as known\
            \ as an internal server error."
          headers:
            Content-Length:
              description: The length of the response body in octets (8-bit bytes).
              schema:
                type: integer
                format: uint64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
              example:
                errors:
                - message: Server Internal error
                  code: Unexpected
    put:
      tags:
      - Organization API keys
      description: "Update the information of an API key of the organization. If the\
        \ API key has some information on the fields which aren't required and they\
        \ are not sent or set to their default values, which depend of their types,\
        \ the information will be removed."
      operationId: updateAPIkey
      parameters:
      - name: organization_canonical
        in: path
        description: A canonical of an organization.
        required: true
        schema:
          $ref: '#/components/schemas/Canonical'
      - name: api_key_canonical
        in: path
        description: A canonical of an API key.
        required: true
        schema:
          $ref: '#/components/schemas/Canonical'
      requestBody:
        description: The information of the API key to update.
        content:
          application/vnd.cycloid.io.v1+json:
            schema:
              $ref: '#/components/schemas/UpdateAPIKey'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateAPIKey'
        required: true
      responses:
        "200":
          description: API ey updated. The body contains information of the updated
            API key.
          content:
            application/json:
              schema:
                required:
                - data
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/APIKey'
              example:
                data:
                  canonical: ak-1
                  name: AK 1
                  description: this is ak-1
                  rules:
                  - id: 1
                    effect: allow
                    action: organization:delete
                    resources:
                    - organization:org-can
                    - organization:org-can2
                  - id: 20
                    effect: allow
                    action: organization:team:create
                    resources: []
                  - id: 21
                    effect: allow
                    action: organization:team:read
                    resources:
                    - organization:org-can:team:team-can
                  token: jwt...
                  id: 5
                  owner:
                    username: user-2
                    id: 10
                    given_name: Mariana
                    family_name: Jimenezo
                    email: mariana.jimenezo@fakeemail.com
                    picture_url: https://avatars2.githubusercontent.com/u/14579210
                    created_at: 1503225026
                    role:
                      id: 42
                      name: standard role
                      description: this is the standard role
                      canonical: role-can
                      rules:
                      - id: 1
                        effect: allow
                        action: organization:delete
                        resources:
                        - organization:org-can
                        - organization:org-can2
                      - id: 20
                        effect: allow
                        action: organization:team:create
                        resources: []
                      - id: 21
                        effect: allow
                        action: organization:team:read
                        resources:
                        - organization:org-can:team:team-can
        "403":
          description: "The authenticated user cannot perform the operation because,\
            \ it doesn't have permissions for such operation."
          headers:
            Content-Length:
              description: The length of the response body in octets (8-bit bytes).
              schema:
                type: integer
                format: uint64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
              example:
                errors:
                - message: Not enough permissions to perform the operation
                  code: Unauthorized
        "404":
          description: The response sent when any of the entities present in the path
            is not found.
          headers:
            Content-Length:
              description: The length of the response body in octets (8-bit bytes).
              schema:
                type: integer
                format: uint64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
              example:
                errors:
                - message: Entity not found
                  code: NotFoundEntity
        "411":
          description: The request has a body but it doesn't have a Content-Length
            header.
          content: {}
        "422":
          description: All the custom errors that are generated from the Cycloid API
          headers:
            Content-Length:
              description: The length of the response body in octets (8-bit bytes).
              schema:
                type: integer
                format: uint64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
              example:
                errors:
                - message: some error
                  code: SomeCode
        default:
          description: "The response sent when an unexpected error happened, as known\
            \ as an internal server error."
          headers:
            Content-Length:
              description: The length of the response body in octets (8-bit bytes).
              schema:
                type: integer
                format: uint64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
              example:
                errors:
                - message: Server Internal error
                  code: Unexpected
      x-codegen-request-body-name: body
    delete:
      tags:
      - Organization API keys
      description: Delete an API key of the organization.
      operationId: deleteAPIKey
      parameters:
      - name: organization_canonical
        in: path
        description: A canonical of an organization.
        required: true
        schema:
          $ref: '#/components/schemas/Canonical'
      - name: api_key_canonical
        in: path
        description: A canonical of an API key.
        required: true
        schema:
          $ref: '#/components/schemas/Canonical'
      responses:
        "204":
          description: API key has been deleted.
          content: {}
        "403":
          description: "The authenticated user cannot perform the operation because,\
            \ it doesn't have permissions for such operation."
          headers:
            Content-Length:
              description: The length of the response body in octets (8-bit bytes).
              schema:
                type: integer
                format: uint64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
              example:
                errors:
                - message: Not enough permissions to perform the operation
                  code: Unauthorized
        "404":
          description: The response sent when any of the entities present in the path
            is not found.
          headers:
            Content-Length:
              description: The length of the response body in octets (8-bit bytes).
              schema:
                type: integer
                format: uint64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
              example:
                errors:
                - message: Entity not found
                  code: NotFoundEntity
        default:
          description: "The response sent when an unexpected error happened, as known\
            \ as an internal server error."
          headers:
            Content-Length:
              description: The length of the response body in octets (8-bit bytes).
              schema:
                type: integer
                format: uint64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
              example:
                errors:
                - message: Server Internal error
                  code: Unexpected
  /organizations/{organization_canonical}/appearances:
    get:
      tags:
      - Organization Appearances
      description: List of appearances available in the organization.
      operationId: listAppearances
      parameters:
      - name: organization_canonical
        in: path
        description: A canonical of an organization.
        required: true
        schema:
          $ref: '#/components/schemas/Canonical'
      - name: page_index
        in: query
        description: The page number to request. The first page is 1.
        schema:
          type: integer
          format: uint32
          default: 1
      - name: page_size
        in: query
        description: The number of items at most which the response can have.
        schema:
          type: integer
          format: uint32
          default: 1000
      responses:
        "200":
          description: List of appearances which are available in the organization.
          content:
            application/json:
              schema:
                required:
                - data
                - pagination
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Appearance'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
              example:
                data:
                - canonical: default
                  name: Default
                  display_name: Cycloid
                  tab_title: Cycloid
                  color:
                    r: 28
                    g: 151
                    b: 151
                  logo: https://console.cycloid.io/static/images/app-logo-square.svg
                  favicon: https://console.cycloid.io/static/favicons/favicon.ico
                  footer: ""
                  is_active: false
                  created_at: 1503225026
                  updated_at: 1503335026
                - canonical: custom
                  name: Custom
                  display_name: Brand Name
                  tab_title: Brand Name
                  color:
                    r: 28
                    g: 151
                    b: 151
                  logo: https://console.cycloid.io/static/images/app-logo-square.svg
                  favicon: https://console.cycloid.io/static/favicons/favicon.ico
                  footer: ""
                  is_active: true
                  created_at: 1503225026
                  updated_at: 1503335026
                pagination:
                  index: 1
                  size: 10
                  total: 2
        "403":
          description: "The authenticated user cannot perform the operation because,\
            \ it doesn't have permissions for such operation."
          headers:
            Content-Length:
              description: The length of the response body in octets (8-bit bytes).
              schema:
                type: integer
                format: uint64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
              example:
                errors:
                - message: Not enough permissions to perform the operation
                  code: Unauthorized
        "404":
          description: The response sent when any of the entities present in the path
            is not found.
          headers:
            Content-Length:
              description: The length of the response body in octets (8-bit bytes).
              schema:
                type: integer
                format: uint64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
              example:
                errors:
                - message: Entity not found
                  code: NotFoundEntity
        default:
          description: "The response sent when an unexpected error happened, as known\
            \ as an internal server error."
          headers:
            Content-Length:
              description: The length of the response body in octets (8-bit bytes).
              schema:
                type: integer
                format: uint64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
              example:
                errors:
                - message: Server Internal error
                  code: Unexpected
    post:
      tags:
      - Organization Appearances
      description: Create a new appearance for the organization.
      operationId: createAppearance
      parameters:
      - name: organization_canonical
        in: path
        description: A canonical of an organization.
        required: true
        schema:
          $ref: '#/components/schemas/Canonical'
      requestBody:
        description: The information of the organization's appearance to create.
        content:
          application/vnd.cycloid.io.v1+json:
            schema:
              $ref: '#/components/schemas/NewAppearance'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/NewAppearance'
        required: true
      responses:
        "200":
          description: New appearance created in the organization.
          content:
            application/json:
              schema:
                required:
                - data
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Appearance'
              example:
                data:
                  display_name: Brand Name
                  tab_title: Brand Name
                  color:
                    r: 0
                    g: 0
                    b: 0
                  logo: https://console.cycloid.io/static/images/app-logo-square.svg
                  favicon: https://console.cycloid.io/static/favicons/favicon.ico
                  footer: ""
                  is_active: false
        "403":
          description: "The authenticated user cannot perform the operation because,\
            \ it doesn't have permissions for such operation."
          headers:
            Content-Length:
              description: The length of the response body in octets (8-bit bytes).
              schema:
                type: integer
                format: uint64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
              example:
                errors:
                - message: Not enough permissions to perform the operation
                  code: Unauthorized
        "404":
          description: The response sent when any of the entities present in the path
            is not found.
          headers:
            Content-Length:
              description: The length of the response body in octets (8-bit bytes).
              schema:
                type: integer
                format: uint64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
              example:
                errors:
                - message: Entity not found
                  code: NotFoundEntity
        "422":
          description: All the custom errors that are generated from the Cycloid API
          headers:
            Content-Length:
              description: The length of the response body in octets (8-bit bytes).
              schema:
                type: integer
                format: uint64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
              example:
                errors:
                - message: some error
                  code: SomeCode
        default:
          description: "The response sent when an unexpected error happened, as known\
            \ as an internal server error."
          headers:
            Content-Length:
              description: The length of the response body in octets (8-bit bytes).
              schema:
                type: integer
                format: uint64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
              example:
                errors:
                - message: Server Internal error
                  code: Unexpected
      x-codegen-request-body-name: body
  /organizations/{organization_canonical}/appearances/{appearance_canonical}:
    get:
      tags:
      - Organization Appearances
      description: Get the appearance available in the organization with a canonical
      operationId: getAppearance
      parameters:
      - name: organization_canonical
        in: path
        description: A canonical of an organization.
        required: true
        schema:
          $ref: '#/components/schemas/Canonical'
      - name: appearance_canonical
        in: path
        description: A canonical of an appearance.
        required: true
        schema:
          $ref: '#/components/schemas/AppearanceCanonical'
      responses:
        "200":
          description: Appearance available in the organization with such canonical.
          content:
            application/json:
              schema:
                required:
                - data
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Appearance'
              example:
                data:
                  canonical: custom
                  name: Default
                  display_name: Cycloid
                  tab_title: Cycloid
                  color:
                    r: 28
                    g: 151
                    b: 151
                  logo: https://console.cycloid.io/static/images/app-logo-square.svg
                  favicon: https://console.cycloid.io/static/favicons/favicon.ico
                  footer: ""
                  is_active: false
                  created_at: 1503225026
                  updated_at: 1503335026
        "403":
          description: "The authenticated user cannot perform the operation because,\
            \ it doesn't have permissions for such operation."
          headers:
            Content-Length:
              description: The length of the response body in octets (8-bit bytes).
              schema:
                type: integer
                format: uint64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
              example:
                errors:
                - message: Not enough permissions to perform the operation
                  code: Unauthorized
        "404":
          description: The response sent when any of the entities present in the path
            is not found.
          headers:
            Content-Length:
              description: The length of the response body in octets (8-bit bytes).
              schema:
                type: integer
                format: uint64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
              example:
                errors:
                - message: Entity not found
                  code: NotFoundEntity
        default:
          description: "The response sent when an unexpected error happened, as known\
            \ as an internal server error."
          headers:
            Content-Length:
              description: The length of the response body in octets (8-bit bytes).
              schema:
                type: integer
                format: uint64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
              example:
                errors:
                - message: Server Internal error
                  code: Unexpected
    put:
      tags:
      - Organization Appearances
      description: Update an existing appearance in the organization.
      operationId: updateAppearance
      parameters:
      - name: organization_canonical
        in: path
        description: A canonical of an organization.
        required: true
        schema:
          $ref: '#/components/schemas/Canonical'
      - name: appearance_canonical
        in: path
        description: A canonical of an appearance.
        required: true
        schema:
          $ref: '#/components/schemas/AppearanceCanonical'
      requestBody:
        description: The information of the organization's appearance to update.
        content:
          application/vnd.cycloid.io.v1+json:
            schema:
              $ref: '#/components/schemas/Appearance'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Appearance'
        required: true
      responses:
[...]
