# {{ .Name }} ({{ .Type }})

[Cycloid credential](https://docs.cycloid.io/reference/credentials/) manager securly stores,
accesses, and distributes secrets like API keys, cloud provider credentials, TLS certificates, SSH keys and more.

There is a current limitation on Credential creation, you can't create a `raw` credential type.

{{ if .HasExample }}
## Example Usage

{{ tffile .ExampleFile }}
{{ end }}

{{ .SchemaMarkdown }}
