# {{ .Name }} ({{ .Type }})

[Cycloid external backend documentation](https://docs.cycloid.io/cookbook/getting-started/platform-teams/organizations/terraform-backend#set-up-a-terraform-backend).

{{ if .HasExample }}
## Example Usage

{{ tffile .ExampleFile }}
{{ end }}

{{ .SchemaMarkdown }}
